.card {
	border: solid 1px black;
	// background-color: #c2bebe;
	padding: 0 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	margin: 1em;
}

.card__info{
	
	
}

.card__title{
font-size: 16px;
padding-top: 10px;
}

.card__text{
	font-size: 12px;
}

.card__img{
	display: block;
	width: 208px;
  height: 208px;
 	cursor: pointer;
}

.card__img:hover {
	animation: opacity 0.4s ease-in-out;
}

@keyframes opacity{
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 1;
	}
}