.card {
	border: solid 1px black;
	padding: 0 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	margin: 1em;
	border-radius: 10px;
	height: 300px;
}

.card__img{
	display: block;
	width: 208px;
	height: 208px;
	cursor: pointer;

	&:hover {
		animation: opacity 0.4s ease-in;
		opacity: 0.8;
	}
}

.card__info{
	text-transform: uppercase;
}

.card__title{
	font-size: 16px;
	padding-top: 10px;
}

.card__text{
	font-size: 12px;
}

@keyframes opacity{
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0.8;
	}
}

@media(max-width: 685px){
	.card{
		display: flex;
		flex-direction: column;
	}

  .card__img {
    width: 128px;
		height: 128px;
	}
}

